.header {
  position: relative;
  height: 100%;
  width: 100%;
}
.nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 130px;
  width: 100%;
  @media screen and (max-width: 580px) {
    height: 100px;
  }
}

.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1360px;
  margin: 0 auto;
}
.nav__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  z-index: 5;
  @media screen and (max-width: 580px) {
    width: 80px;
  }
}
.nav__list {
  display: flex;
  width: 100%;
  max-width: 520px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    max-width: none;
    height: 100vh;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    padding-top: 130px;
  }
  @media screen and (max-width: 580px) {
    padding-top: 100px;
  }
}
.nav__list--active {
  transform: translateX(0%);
}
.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1000px) {
    width: 100%;
    max-height: 50px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 580px) {
    margin-bottom: 15px;
  }
}
.nav__link {
  display: flex;
  min-width: 100px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  -webkit-tap-highlight-color: transparent;
  &:hover {
    color: $white;
  }
  @media screen and (max-width: 1000px) {
    color: $white;
  }
}
.nav__link--active {
  position: relative;
  @media screen and (max-width: 1000px) {
    color: $red;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $red;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.nav__item--contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 145px;
  border-radius: 3px;
  background-color: rgba($color: $white, $alpha: 0.2);
  &:hover {
    background: $red;
  }
  @media screen and (max-width: 1000px) {
    background: $red;
  }
}
.nav__link--contact {
  width: 100%;
  @media screen and (max-width: 1000px) {
    justify-content: center;
    padding-left: 0;
  }
}
.nav__item--drop {
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
    max-height: none;
  }
  @media screen and (min-width: 1000px) {
    &:hover {
      .nav__link--drop {
        color: $white;
      }
      .nav__drop-list {
        opacity: 1;
        height: 135px;
        padding-top: 15px;
        &::before {
          width: 100%;
        }
      }
    }
  }
}
.nav__link--drop {
  position: relative;
  @media screen and (max-width: 1000px) {
    height: 50px;
  }
}
.nav__drop-list {
  display: block;
  position: absolute;
  top: 90px;
  height: 0;
  width: 140px;
  padding: 0 15px 0 15px;
  background-color: $gray-dark;
  border: 1px solid $gray;
  border-top: 0px;
  opacity: 0;
  overflow: hidden;
  transform: translateX(19px);
  @media screen and (max-width: 1000px) {
    background-color: $gray;
    border-color: $gray-light;
    transform: translateX(70px);
    position: relative;
    left: 0;
    top: 0;
    border: none;
  }
  &::before {
    content: "";
    height: 1px;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    transition: all ease-out 0.6s;
  }
}
.nav__drop-list--active {
  opacity: 1;
  height: 135px;
  padding-top: 15px;
  &::before {
    width: 100%;
  }
}
.nav__drop-item {
  display: relative;
  margin-bottom: 15px;
  &:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid $gray;
    @media screen and (max-width: 1000px) {
      border-color: $red;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: $red;
    transform: translateY(14px);
    transition: all ease-out 0.6s;
  }
  &:last-child {
    &::after {
      transform: translateY(9px);
    }
  }
  @media screen and (min-width: 1000px) {
    &:hover {
      &::after {
        width: 110px;
      }
    }
  }
}

//hamburger
.nav__hamburger {
  z-index: 5;
  position: absolute;
  top: 50px;
  right: 3%;
  display: none;
  width: 35px;
  height: 30px;
  -webkit-tap-highlight-color: transparent;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  @media screen and (max-width: 1000px) {
    display: block;
  }
  @media screen and (max-width: 580px) {
    top: 40px;
    width: 30px;
    height: 25px;
  }
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    @media screen and (max-width: 580px) {
      height: 2px;
    }
    &:nth-child(1) {
      top: 4px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 12px;
      transform-origin: left center;
      @media screen and (max-width: 580px) {
        top: 11px;
      }
    }
    &:nth-child(3) {
      top: 20px;
      transform-origin: left center;
      @media screen and (max-width: 580px) {
        top: 18px;
      }
    }
  }

  &.open span {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 0;
      left: 5px;
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 25px;
      left: 5px;
      @media screen and (max-width: 580px) {
        top: 21px;
      }
    }
  }
}

.nav__chevron {
  display: none;
  @media screen and (max-width: 1000px) {
    display: inline;
    padding-right: 10px;
    transform: rotate(180deg);
  }
}
.nav__chevron--active {
  transform: rotate(270deg);
  padding: 20px 0 0 0;
}
